.visual-panel {
  height: 85vh;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 15% 1fr;
  grid-template-areas: 
    "roller info"
    "roller range"
  ;
}


.roller-spectrum {
  grid-area: roller;
}

.info-box {
  grid-area: info;
  border-left: solid 3px white;
  padding: 0.8rem;
  background-color: black;
  color: white;
}

.range-container {
  grid-area: range;
  box-sizing: border-box;
  height: 100%;
  border-top: solid 2px white;
  border-left: solid 3px white;
  padding: 5% 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  color: white;
}

.range-container h4 {
  margin: 0;
  text-align: center;
}

.range-container .range-groove {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(65% + 40px);
  width: 10px;
  border-radius: 5px;
  background-color: #668;
}

.range-container .range {
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.range-container .range-bar {
  height: 100%;
  width: 10px;
  background-color: #99b;
  position: relative;
}

.range-container .range .range-handle {
  position: absolute;
  box-sizing: border-box;
  left: -10px;
  width: 30px;
  height: 15px;
  border: outset 4px blue;
  background-color: darkblue;
}

.range-container .range .max-handle {
  bottom: 100%;
}
.range-container .range .min-handle {
  bottom: 0%;
  transform: translateY(100%);
}